<div class = "abc">
  <div class="bar bar-header bar-clear" style= "margin-top:5px;" >

    <div class="title" id="shadow">Admin Home</div>

  </div>

  <ion-content class="has-subheader">
      <div id = "center" style="height: 80%">

        <div style = "margin-top:20%;" onclick="location.href='#Notifications'"><img style="height:30%;width:30%;" src="../msg.png" > </div>
        <div class ="shadow">Notifications</div>
        <div style = "margin-top:30px;" onclick="location.href='#Events'"><img style="height:30%;width:30%;" src="event.png"> </div>
        <div class= "shadow" style="margin-bottom: 10%;">Events</div>

      </div>
  </ion-content>

  </div>
