

     <div class="padding abc">

          <div id="notediv" >Admin Panel </div>

  <div class="button-bar" id="bar1" style = "width:65%;margin-left:auto; magin-right:auto; padding-top:70px; padding-bottom:150px;">

          <a  href="#//"><img id = "img" src="lock.png"></a>

        </div>

      <div class="list list-inset">

          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>

<a  style = "text-decoration:none"><button class="button button-block button-positive" style="color:white;" ng-click="login()">Login</button></a>
  </div>
